{% extends 'base.html.twig' %}

{% block body_id 'easyadmin-print-list' %}
{% block main_content %}
    <h1>Liste des étudiants</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Contact</th>
                <!-- Ajoutez d'autres en-têtes de colonne ici -->
            </tr>
        </thead>
        <tbody>
            {% block content %}{% endblock %}
        </tbody>
    </table>
{% endblock %}
